@model UbitLibrarySystem.Models.Borrower_Details
@{
    ViewBag.Title = "NoBooksAvailable";
}

<h2>This Book Is Already Issued...NoBooksAvailable</h2>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>