body {
    
    background-image: url('4.jpg');
    background-size: auto;
}

        .aa {
            width: 300px;
            height: 360px;
            background-color: rgba(0,0,0,0.5);
            margin: 0 auto;
            margin-top: 40px;
            padding-top: 10px;
            /*padding-left: 50px;*/
            -webkit-border-color: 15px;
            -moz-border-color: 15px;
            -ms-border-color: 15px;
            -o-border-color: 15px;
            border-color: 15px;
            color: white;
            font-weight: bolder;
            -webkit-box-shadow: inset -4px -4px rgba(0,0,0,0.5);
            box-shadow: inset -4px -4px rgba(0,0,0,0.5);
            font-size: 15px;
        }

            .aa input[type="text"] {
                width: 200px;
                height: 35px;
                border: 0px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                border-radius: 5px;
            }

            .aa input[type="password"] {
                width: 200px;
                height: 35px;
                border: 0px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                border-radius: 5px;
            }

            .aa input[type="submit"] {
                width: 100px;
                height: 35px;
                border: 0px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                border-radius: 5px;
                background-color: skyblue;
                font-weight: bolder;
                
            }