@model UbitLibrarySystem.Models.Book_Details

@{
    ViewBag.Title = "BookUploaded";}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ImageUploaded</title>
</head>
<body>
    <div> 
        <h3>Image Has Been Uploaded</h3>
    </div>
    <div>
        @Html.ActionLink("Back", "Index")
    </div>
</body>
</html>
